<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tu.mapper.OrderMapper" >
  <resultMap id="BaseResultMap" type="com.tu.entity.Order" >
    <id column="o_id" property="oId" jdbcType="INTEGER" />
    <result column="u_id" property="uId" jdbcType="INTEGER" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="creat_time" property="creatTime" jdbcType="TIMESTAMP" />
    <result column="count" property="count" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Base_Column_List" >
    o_id, u_id, address, creat_time, count
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from order
    where o_id = #{oId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from order
    where o_id = #{oId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tu.entity.Order" >
    insert into order (o_id, u_id, address, 
      creat_time, count)
    values (#{oId,jdbcType=INTEGER}, #{uId,jdbcType=INTEGER}, #{address,jdbcType=VARCHAR}, 
      #{creatTime,jdbcType=TIMESTAMP}, #{count,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.tu.entity.Order" >
    insert into order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="oId != null" >
        o_id,
      </if>
      <if test="uId != null" >
        u_id,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="creatTime != null" >
        creat_time,
      </if>
      <if test="count != null" >
        count,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="oId != null" >
        #{oId,jdbcType=INTEGER},
      </if>
      <if test="uId != null" >
        #{uId,jdbcType=INTEGER},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="creatTime != null" >
        #{creatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="count != null" >
        #{count,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tu.entity.Order" >
    update order
    <set >
      <if test="uId != null" >
        u_id = #{uId,jdbcType=INTEGER},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="creatTime != null" >
        creat_time = #{creatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="count != null" >
        count = #{count,jdbcType=DOUBLE},
      </if>
    </set>
    where o_id = #{oId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tu.entity.Order" >
    update order
    set u_id = #{uId,jdbcType=INTEGER},
      address = #{address,jdbcType=VARCHAR},
      creat_time = #{creatTime,jdbcType=TIMESTAMP},
      count = #{count,jdbcType=DOUBLE}
    where o_id = #{oId,jdbcType=INTEGER}
  </update>
</mapper>